**~
\#**
**_old
**_off
.DS_Store
main
go.sum
python/deps_installed
vidtest.xcarchive
vidtest.ipa
vidtest_clean.ipa
vidtest_clean.xcarchive
tmp
muxed.json
config.mk
repos/WebDriverAgent/
repos/iosif
repos/mod-pbxproj/
repos/ujsonin
repos/vidapp
repos/go-ios
calculated.json
wda.log
